.recipe {
  color: bisque;
}

.heading-recipe {
  color: bisque;
}

hr {
  border: none;
  background-color: bisque; /* Цвет линии */
  color: bisque; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}
