.menu-selected {
  //display: table;
  display: flex;
}

.menu-element {
  //float: left;
  //position: absolute
}

.space-element{
  margin-left: 1%;
}

.btn-main {
  background-color: bisque;
  color: black;
}

.size-on-content {
  display: inline-block;
  border: 1px solid;
}

.selected-product {
  border-radius: 21px;
  padding: 0.3rem 0.7rem;
  margin: 2%;
}

.dropdown-input {
  flex-wrap: wrap;
  display: flex;
  max-width: 323px;
}

hr {
  border: none;
  background-color: bisque; /* Цвет линии */
  color: bisque; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}

.btn-outline-search {
  color: bisque;
  border-color: bisque;
}

.btn-outline-search:hover {
  background-color: bisque;
  color: black;
}

.selected-page {
  background-color: bisque;
}


